*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    height: 100px;
    width: 100px;
}

.nav-items{
    display: flex;
}

.nav-items > .login{
    padding: 6px 15px;
    cursor: pointer;
    margin: auto;
}

.nav-items > ul{
    display: flex;
    margin: auto;
    list-style-type: none;
}

.nav-items > ul > li{
    font-size: 18px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.filter-search{
    display: flex;
    gap: 20px;
    padding: 20px;
    margin-left: 20px;
}

.filter-search > .filter-btn{
    padding: 5px;
    cursor: pointer;
}

.search > .search-input{
    padding: 5px;
    width: 300px;
}

.search > button{
    padding: 5px;
    margin-left: 10px;
}

.resto-container, .shimmer-container{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.resto-card, .shimmer-card{
    padding: 5px;
    height: 300px;
    width: 250px;
    margin: 15px;
}

.shimmer-card{
    background-color: #f0f0f0;
}

.resto-card:hover{
    border: 1px solid grey;
    cursor: pointer;
}

.res-img {
    width: 250px;
    height: 200px;
}

.footer{
    height: 100px;
    background-color: grey;
}